__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg
*.log
.static_storage/
.media/
local_settings.py
.DS_Store
node_modules/
etc/
buid/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog